.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff !important;
  font-size: 18px;
}

.updataBtn {
  padding: 10px 30px;
  cursor: pointer;
  color: #1677ff;
}
