.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff !important;
}

.updataBtn {
  padding: 10px 20px;
  cursor: pointer;
}
.updataBtn:hover {
  color: blue;
}
